include *.in
include *.txt
include *.rst
include LICENSE
recursive-include doc *.html
recursive-include example *.css
recursive-include example *.csv
recursive-include example *.html
recursive-include example *.pict
recursive-include example *.pictout
recursive-include example *.py
recursive-include example *.robot
recursive-include example *.xlsx

# added by check_manifest.py
recursive-include example *.xls
